.recipes {
  & .container {
    @include lg-md {
      max-width: 865px;
    }
  }
  &__title {
  margin-bottom: 20px;
  }
  &-slider {
    position: relative;
    padding: 20px 0;

  &__item img{
    border: 2px solid $color-dark;
    border-radius: $gap;
    @include lg-min {
      margin: 0 30px 0 30px;
    }
  }
  }
}
.slider__title {
  width: 100%;
  text-align: center;
  margin: 10px 0 25px 10px;
  text-shadow: 1px 1px 1px rgba(42, 10, 73, 0.8);
}
.slick-dots li button {
  &::before {
    font-size: 10px;
    color: $color-light;
  }
}